/* Estilos gerais para todo o site */
body {
    font-family: 'Courier New', monospace; /* Fonte estilo programação */
    color: #000000; /* Fonte preta para o corpo do site */
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(270deg, #0dd883, #2d2af5);
    animation: gradientAnimation 10s ease infinite alternate;
    overflow-y: scroll; /* Ativa a rolagem vertical */
    overflow-x: hidden; /* Esconde a rolagem horizontal */
}

/* Estilos da barra de rolagem */
/* Webkit (Safari/Chrome) */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #0dd883; /* Cor de fundo da barra de rolagem */
}

body::-webkit-scrollbar-thumb {
    background-color: #2d2af5; /* Cor do "thumb" (a parte deslizante) */
    border-radius: 5px;
    border: 2px solid #0dd883; /* Cor da borda */
}

/* Firefox */
body {
    scrollbar-width: thin;
    scrollbar-color: #2d2af5 #0dd883;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header h1 {
    margin: 0;
    color: #ffffff; /* Fonte branca para o nome */
    font-size: 18px; /* Tamanho da fonte igual ao dos botões */
    overflow: hidden; /* Garante que o texto seja cortado corretamente */
    white-space: nowrap; /* Impede a quebra de linha */
    animation: typing 3.5s steps(40, end);
    font-weight: normal; /* Remove o negrito */
}

/* Animação de digitação */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 10px;
}

nav ul li {
    font-size: 17px;
    position: relative;
    padding: 10px;
    cursor: pointer; /* Adiciona cursor apontador */
}

nav ul li a {
    color: #ffffff; /* Fonte branca para os botões de navegação */
    text-decoration: none;
    display: block; /* Transforma o link em bloco para ocupar a largura do pai */
}

nav ul li::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000000;
    transition: width 0.3s ease;
}

nav ul li:hover::after {
    width: 100%;
}

.container {
    flex: 1; /* Faz o contêiner principal ocupar o espaço restante */
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background: linear-gradient(270deg, #0dd883, #2d2af5);
    color: #ffffff; /* Fonte branca para os direitos autorais */
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    animation: gradientAnimation 10s ease infinite alternate;
}

/* Estilos específicos para a página Home */
section#home {
    text-align: center;
    padding: 20px;
}

section#home h2,
section#home p {
    margin-bottom: 15px;
}

section#home h2 {
    font-size: 1.1em; /* Ajuste o tamanho do título "Bem-vindo" conforme necessário */
    font-weight: normal; /* Remove o negrito */
}


/* Estilos específicos para a página de Projetos */

section#projetos h2 {
    margin-bottom: 20px;
    font-size: 1.1em;
    font-weight: normal; /* Remove o negrito */
    text-align: center;
}

/* Estilos adicionais para a página de Contato */
.contact-icons {
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.contact-icons a {
    color: #333;
    margin-right: 10px;
}

.contact-icons a:hover {
    color: #0dd883;
}

.formation-info,
.language-info {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
    text-align: center; /* Centraliza o texto */
}

.formation-info:hover,
.language-info:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

#contato {
    margin-bottom: 60px;
    text-align: center; /* Centraliza todo o conteúdo dentro do elemento com id="contato" */
}

/* Estilos para telas menores (responsivo) */
@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header h1 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        padding: 8px 0;
    }

    nav ul li::after {
        display: none; /* Remove a linha sob o link */
    }

    .contact-icons {
        flex-direction: column;
        align-items: center;
    }
}

/* Estilos para telas muito pequenas (celulares) */
@media only screen and (max-width: 480px) {
    nav ul li {
        font-size: 15px;
    }

    .contact-icons {
        font-size: 20px;
    }
}
