/* styles.css */

/* Estilos gerais para todo o site */
body {
    font-family: 'Courier New', monospace; /* Fonte estilo programação */
    color: #000000; /* Fonte preta para o corpo do site */
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: scroll; /* Ativa a rolagem vertical */
    overflow-x: hidden; /* Esconde a rolagem horizontal */
    background: linear-gradient(270deg, #0dd883, #2d2af5);
    background-size: 400% 400%;
    animation: gradientAnimation 20s ease infinite;
}

/* Animação de gradiente */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Estilos da barra de rolagem */
/* Webkit (Safari/Chrome) */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #0dd883; /* Cor de fundo da barra de rolagem */
}

body::-webkit-scrollbar-thumb {
    background-color: #2d2af5; /* Cor do "thumb" (a parte deslizante) */
    border-radius: 5px;
    border: 2px solid #0dd883; /* Cor da borda */
}

/* Firefox */
body {
    scrollbar-width: thin;
    scrollbar-color: #2d2af5 #0dd883;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header h1 {
    margin: 0;
    color: #ffffff; /* Fonte branca para o nome */
    font-size: 20px; /* Tamanho da fonte igual ao dos botões */
    overflow: hidden; /* Garante que o texto seja cortado corretamente */
    white-space: nowrap; /* Impede a quebra de linha */
    animation: typing 3.5s steps(40, end);
    font-weight: normal; /* Remove o negrito */
}

/* Animação de digitação */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 10px;
}

nav ul li {
    font-size: 20px;
    position: relative;
    padding: 10px;
    cursor: pointer; /* Adiciona cursor apontador */
}

nav ul li a {
    color: #ffffff; /* Fonte branca para os botões de navegação */
    text-decoration: none;
    display: block; /* Transforma o link em bloco para ocupar a largura do pai */
}

nav ul li::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000000;
    transition: width 0.3s ease;
}

nav ul li:hover::after {
    width: 100%;
}

.container {
    flex: 1; /* Faz o contêiner principal ocupar o espaço restante */
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: linear-gradient(270deg, #0dd883, #2d2af5);
    color: #ffffff; /* Fonte branca para os direitos autorais */
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-size: 400% 400%;
    animation: gradientAnimation 20s ease infinite;
    font-size: 0.90em;
}

/* Estilos específicos para a página Home */
section#home {
    text-align: center;
    padding: 20px;
    font-size: 1.2em;
}

section#home h2,
section#home p {
    margin-bottom: 15px;
}

section#home h2 {
    font-size: 1.2em; /* Ajuste o tamanho do título "Bem-vindo" conforme necessário */
    font-weight: normal; /* Remove o negrito */
}

/* Estilos específicos para a página de Projetos */
section#projetos {
    margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
    max-width: 1000px; /* Define a largura máxima do conteúdo */
    text-align: center; /* Alinha o texto ao centro */
}

.project-box {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ajusta a largura mínima e máxima das colunas */
    gap: 30px; /* Espaçamento entre as caixas de projeto */
    margin-top: 10px;
    justify-content: center;
}

.projeto {
    background-color: rgba(36, 34, 34, 0.27);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(23, 13, 218, 0.1);
    transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
}

/* Efeito de hover para mouse */
.projeto:hover {
    background-color: rgba(43, 14, 235, 0.5); /* Torna o fundo mais branco ao passar o mouse */
}

/* Efeito de hover para dispositivos digitais */
@media (hover: hover), (pointer: fine) {
    .projeto:hover {
        background-color: rgba(43, 14, 235, 0.5); /* Torna o fundo mais branco ao passar o mouse ou o dedo */
    }
}

.projeto img {
    width: 25%; /* Garante que a imagem ocupe toda a largura da caixa */
    border-radius: 10px;
    margin-bottom: 10px;
}

.projeto p {
    font-size: 16px;
    line-height: 1.4;
}

/* Estilos adicionais para telas menores */
@media only screen and (max-width: 768px) {
    .project-box {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajusta para telas menores */
        gap: 20px; /* Reduz o espaçamento */
    }
}


/* Estilos adicionais para a página de Contato */
.contact-icons {
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.contact-icons a {
    color: #333;
    margin-right: 10px;
}

.contact-icons a:hover {
    color: #0dd883;
}

.contact-icons a:last-child {
    margin-right: 0; /* Remove a margem direita do último ícone */
}

.formation-info,
.language-info {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Adiciona transição para cor do texto */
    text-align: center; /* Centraliza o texto */
    color: #000000; /* Cor do texto inicial */
}

.formation-info:hover,
.language-info:hover {
    background-color: #ffffff; /* Fundo branco ao passar o mouse ou tocar */
    color: #000000; /* Cor do texto ao passar o mouse ou tocar */
}

#contato {
    margin-bottom: 60px;
    text-align: center; /* Centraliza todo o conteúdo dentro do elemento com id="contato" */
    font-size: 1.2em;
}

/* Estilos para telas menores (responsivo) */
@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header h1 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    nav {
        text-align: center; /* Centraliza os links na horizontal */
        margin-top: 10px; /* Espaçamento acima dos links */
        align-items: center;
    }

    nav ul {
        display: flex;
        justify-content: center; /* Centraliza os itens na horizontal */
        gap: 10px;
    }

    nav ul li {
        padding: 8px 10px; /* Adiciona um espaçamento interno */
    }

    nav ul li::after {
        display: none; /* Remove a linha sob o link */
    }

    .contact-icons {
        flex-direction: horizontal;
        align-items: center;
    }

    .formation-info,
    .language-info {
        background-color: rgba(0, 0, 0, 0.1);
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 10px;
        transition: background-color 0.3s ease, color 0.3s ease; /* Adiciona transição para cor do texto */
        text-align: center; /* Centraliza o texto */
        color: #000000; /* Cor do texto inicial */
    }

    .formation-info:hover,
    .language-info:hover {
        background-color: #ffffff; /* Fundo branco ao passar o mouse ou tocar */
        color: #000000; /* Cor do texto ao passar o mouse ou tocar */
    }
}

/* Estilos para telas muito pequenas (celulares) */
@media only screen and (max-width: 480px) {
    nav ul li {
        font-size: 15px;
    }

    .contact-icons {
        font-size: 20px;
    }
}

/* Estilos para o ícone do menu hambúrguer */
.menu-toggle {
    display: none; /* Inicia oculto em telas maiores */
    cursor: pointer;
    padding: 10px;
}

.hamburger {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: transform 0.3s ease-in-out;
}

/* Estilos para mostrar o menu em telas menores */
@media only screen and (max-width: 768px) {
    .menu-toggle {
        display: flex;
        align-items: center;
    }

    nav {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #2d2af5;
        padding: 20px;
        box-sizing: border-box;
    }

    nav.active {
        display: block;
    }

    .hamburger.active {
        transform: rotate(90deg);
    }

    nav ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    nav ul li {
        font-size: 18px;
    }
}

/* Estilos específicos para a caixa de formação e idiomas */
.formation-info,
.language-info {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Adiciona transição para cor do texto */
    text-align: center; /* Centraliza o texto */
    color: #000000; /* Cor do texto inicial */
}

.formation-info:hover,
.language-info:hover {
    background-color: #ffffff; /* Fundo branco ao passar o mouse ou tocar */
    color: #000000; /* Cor do texto ao passar o mouse ou tocar */
}
