/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
html, body {
    height: 100%;
    font-family: 'Roboto Mono', monospace;
    background: linear-gradient(270deg, #0dd883, #2d2af5);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: flex;
    flex-direction: column;
    color: #333;
    line-height: 1.6;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Estilos do cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(270deg, #0dd883, #2d2af5);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: white;
    flex-wrap: wrap;
}

header h1 {
    font-size: 1.5em;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 20px;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding: 10px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Estilos do conteúdo principal */
.container {
    flex: 1;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
}

section {
    margin: 20px 0;
    text-align: center;
}

section h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

section p {
    font-size: 1em;
    line-height: 1.5;
}

article {
    margin: 20px 0;
}

article h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

article p {
    font-size: 1em;
    line-height: 1.5;
}

/* Estilos do rodapé */
footer {
    text-align: center;
    padding: 10px;
    background: linear-gradient(270deg, #0dd883, #2d2af5);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: white;
    width: 100%;
    font-size: 0.8em;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    header {
        flex-direction: column;
        text-align: center;
    }

    header h1 {
        font-size: 1.2em;
        margin: 10px 0;
    }

    nav ul {
        justify-content: center;
        gap: 10px;
        flex-wrap: nowrap;
    }

    nav ul li {
        margin-bottom: 10px;
        font-size: 1em;
    }

    section h2 {
        font-size: 1.5em;
    }

    section p {
        font-size: 1em;
    }

    footer {
        padding: 10px;
    }
}

/* Estilos adicionais para a página de contato */
.contact-info {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.contact-info:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.formation-info, .language-info {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.formation-info:hover, .language-info:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.contact-icons {
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-icons a {
    color: #333;
    margin-right: 10px;
}

.contact-icons a:hover {
    color: #0dd883;
}

.language-info {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.language-info:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

#contato {
    margin-bottom: 60px;
}
